.singlePost{
    flex: 9;
}
.singlePostImg{
    height: 340px;
    object-fit: cover;
}
.singlePostTitle{
    font-family: 'Lora', serif;
}
.singlePostEdit{
    font-size: 18px;
}
.singlePostIcon{
    cursor: pointer;
}
.singlePostIcon:first-child{
    color: teal;
}
.singlePostIcon:last-child{
    color: tomato;
}
.singlePostInfo{
    font-size: 16px;
    color: #b39656;
    font-family: 'Varela Round', sans-serif;
}
.singlePostDesc{
    color: #666;
    font-size: 18px;
    line-height: 25px;
    text-align: justify;
}
.singlePostDesc::first-letter{
    font-size: 30px;
    margin-left: 20px;
    font-weight: 600;
    font-family: 'Lora', serif;
}
.comment-text{
    text-align: justify;
}
.btn-comment{
    color: white;
    background-color: teal;
}
.btn-comment-cancel{
    border: 1px solid teal;
}
.btn-comment:hover{
    border: 1px solid teal;
}
.btn-comment-cancel:hover{
    color: white;
    background-color: teal;
}