.recentBlog{
    font-family: 'Lora', serif;
    color: #021843;
    font-weight: 550;
    /* position: sticky;
    top: 8%;
    z-index: 9999; */
    background-color: white;
}
.btn-see-more {
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 30px;
    line-height: 0;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: teal;
    box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);
  }
  .btn-see-more span {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
  }
  .btn-see-more i {
    margin-left: 5px;
    font-size: 18px;
    transition: 0.3s;
  }
  .btn-see-more:hover i {
    transform: translateX(5px);
  }