.sidebar{
    flex: 3;
    background-color: #fdfbfb;
}
.sidebarTitle{
    width: 80%;
    border-top: 1px solid #a7a4a4;
    border-bottom: 1px solid #a7a4a4;
    font-family: 'Varela Round', sans-serif;
    color: #222;
    line-height: 20px;
}
.sidebarList{
    list-style: none;
}
.sidebarListItem{
    cursor: pointer;
}
.sidebarSocial{
    width: 250px;
}
.sidebarIcon{
    font-size: 16px;
    cursor: pointer;
}