.post {
    width: 90%;
}

.postImg {
    height: 280px;
    object-fit: cover;
}

.postCat {
    font-family: 'Varela Round', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #be9656;
    cursor: pointer;
}

.postTitle {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.postDate {
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 13px;
    color: #999;
}

.postDesc {
    font-size: 'Varela Round', sans-serif;
    text-align: justify;
    font-size: 15px;
    color: #444;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.postImg,
.postInfo {
    cursor: pointer;
}

.cartFooter {
    height: 40px;
}

.cartIcon {
    font-size: 20px;
    z-index: 1;
}

.cartIcon:hover {
    font-size: 23px;
}

.cartIconOne {
    left: 4%;
}

.cartIconTwo {
    left: 47%;
}

.cartIconThree {
    right: 4%;
}
.reactedIcon{
    color: tomato;
}
.homeCommentBtn{
    color: white;
    background-color: teal;
}
.homeCommentBtn:hover{
    color: teal;
    background-color: white;
    border: 1px solid teal;
}

@media (max-width: 768px) {}